    <div class="navbar bg-light border-bottom">
      <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/assets/johnson.png" width="70" height="70"  alt="" class="rounded-circle">

          <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
             <%= link_to 'Friends', friends_path, class: "navbar-brand", class: "btn btn-sm" %>

              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">


                <% if user_signed_in?%>


                <% link_to 'Home', root_path, class: "nav-link", class: "btn btn-sm" %>
                 <% link_to 'About', home_about_path, class: "nav-link", class: "btn btn-sm" %>
                  <%= link_to 'Add Friend', new_friend_path, class: "nav-link", class: "btn btn-sm" %>
                    <%= link_to 'Edit Profile', edit_user_registration_path, class: "nav-link", class: "btn btn-sm" %>
                    <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: "nav-link", class: "btn btn-sm" %>

                      <% else %>
                      <%= link_to 'Sign In',  new_user_session_path, class: "nav-link", class: "btn btn-sm" %>
                     <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link", class: "btn btn-sm" %>
                    <% end %>


                </div>
              </div>
            </div>
          </nav>


      </div>
    </div>
